body {
    background-color: white !important;
    color: black !important;
    margin: 0;
    word-break: keep-all;
    font-family: "Playfair Display", serif !important;
    font-optical-sizing: auto;
    font-style: normal;
}
a {
    color: black !important;
    font-size: 1.8rem;
    text-decoration: none !important;
}
a:hover {
    color: #bdbdbd !important;
}

.main-logo {
    height: 100vh;
}

.logo {
    height: 80px;
}
.title{
    font-size: 4rem;
}

@media(max-width:1400px){
    .title{
        font-size: 3rem;
    }
}
@media(max-width:576px){
    .logo {
        height: 50px;
    }
    .main-logo {
        height: 20vh;
    }
    .main-content {
        height: 80vh;
    }
    .cursor{
        height: 10rem;
        width: 10rem;
    }
}

